<%= error_messages_for 'sign' %>

<!--[form:sign]-->
<p><label for="sign_tags">Tags</label><br/>
<%= text_field 'sign', 'tags'  %></p>

<p><label for="sign_src">Src</label><br/>
<%= file_column_field 'sign', 'src'  %></p>

<p><label for="sign_desc">Desc</label><br/>
<%= text_area 'sign', 'desc', :rows=>6, :cols=>60  %></p>
<!--[eoform:sign]-->

